streamlit
langchain
langchain-chroma
langchain-community
langchain-core
langchain-groq
langchain-huggingface
langchain-text-splitters
python-dotenv
pypdf
huggingface_hub
pypdf2
chromadb
mlflow
protobuf==3.20.3
opentelemetry-exporter-otlp